{%- assign row = section.settings -%}
{%- assign show_items = row.show_items -%}

{% paginate blog.articles by show_items %}

{% comment %}
<div class="page-width">
  <header class="section-header text-center">
    <h1>{{ page_title }}</h1>
    {% if blog.tags.size > 0 %}
      <div class="blog-filter">
        <label class="blog-filter__label select-label" for="BlogTagFilter">{{ 'collections.filters.title_tags' | t }}</label>
        <div class="select-group">
          <select id="BlogTagFilter" aria-describedby="a11y-refresh-page-message a11y-selection-message" data-blog-tag-filter>
            <option value="{{ blog.url }}">{{ 'blogs.article.all_topics' | t }}</option>
            {% for tag in blog.all_tags %}
              <option value="{{ blog.url }}/tagged/{{ tag | handleize }}" {% if current_tags contains tag %}selected{% endif %}>{{ tag }}</option>
            {% endfor %}
          </select>
          {% include 'icon-chevron-down' %}
        </div>
      </div>
    {% endif %}
  </header>
</div>
{% endcomment %}

<div class="blog-index-wrapper"> 
  {% for article in blog.articles %}
   <div class="blog-index-item">
      <div class="blog-index-item-image"></div>
      <div class="blog-index-item-title">
        <h3>
          {{ article.title | escape }}
        </h3>
      </div>
      <div class="blog-index-item-desc">
        <p>
          {% if article.excerpt.size > 0 %}
          	{{ article.excerpt }}
          {% else %}
          	{{ article.content | truncate: 500 }}
          {% endif %}
        </p>
      </div>
      <div class="blog-index-item-act">
        <div class="blog-index-item-act-readmore">          
          <a href="{{ article.url }}" class="primary-color">
            {{ row.block_btn_detail }}
          </a>
        </div>
      </div>
    </div><!-- End Item -->
  {% endfor %}
</div><!-- End Wrapper -->

{% comment %}
<ul class="blog-list-view">
  {% for article in blog.articles %}
  <li class="border-top">
    <div class="page-width">
      <div class="grid">
        <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
          <div class="article-listing">
            <h2 class="article__title h3"><a href="{{ article.url }}">{{ article.title }}</a></h2>
            {% if section.settings.blog_show_author %}
            <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
            {% endif %}

            {% if section.settings.blog_show_date %}
            <span class="article__date">
              {{ article.published_at | time_tag: format: 'date' }}
            </span>
            {% endif %}

            {% if article.image %}
            {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
            {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
            {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

            {% include 'image-style', image: article.image, height: 600, wrapper_id: img_wrapper_id, img_id: img_id %}

            <div id="{{ img_wrapper_id }}" class="article__list-image-wrapper js">
              <a href="{{ article.url }}" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;" class="article__list-image-container" data-image-loading-animation>
                <img id="{{ img_id }}"
                     class="article__list-image lazyload"
                     data-src="{{ img_url }}"
                     data-widths="[180, 360, 540, 720, 905, 1090, 1296, 1512, 1728, 2048]"
                     data-aspectratio="{{ article.image.aspect_ratio }}"
                     data-sizes="auto"
                     alt="">
              </a>
            </div>

            <noscript>
              <p>
                <a href="{{ article.url }}">
                  {{ article | img_url: '455x300', scale: 2 | img_tag: article.title }}
                </a>
              </p>
            </noscript>
            {% endif %}

            <div class="rte">
              {% if article.excerpt.size > 0 %}
              {{ article.excerpt }}
              {% else %}
              {{ article.content | strip_html | truncate: 150 }}
              {% endif %}
            </div>

            {% if article.tags.size > 0 %}
            <div class="article__tags article__tags--list rte">
              {{ 'blogs.article.posted_in' | t }}
              {% for tag in article.tags %}
              <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
              {% endfor %}
            </div>
            {% endif %}

            <ul class="list--inline article__meta-buttons">
              <li>
                <a href="{{ article.url }}" class="btn btn--tertiary btn--small" aria-label="{{ 'blogs.article.read_more_title' | t: title: article.title }}">
                  {{ 'blogs.article.read_more' | t }}
                </a>
              </li>

              {% if blog.comments_enabled? and article.comments_count > 0 %}
              <li>
                <a href="{{ article.url }}#comments" class="article__comment-count btn btn--tertiary btn--small">
                  {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endcomment %}

{%- if paginate.pages > 1 -%}
  {% include 'pagination', paginate: paginate %}
{%- endif -%}

{% endpaginate %}


{% schema %}
{
  "name": "Blog pages",
  "settings": [
    {
      "label": "Title",
      "type": "text",
      "id": "blog_index_title",
      "default": "Blog"
    },
    {
      "label": "Button",
      "type": "text",
      "id": "block_btn_detail",
      "default": "Viewpost"
    },
    {
      "label": "Show item",
      "type": "range",
      "id": "show_items",
      "default": 10,
      "min": 1,
      "max": 20,
      "step": 1
    }
  ]
}
{% endschema %}
